body {
    background-color: rbg(242, 242, 242);
}

h1 {
    color:teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

h2 {
    color:teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    color:teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.summary-image {
    width: 300px;
    float: left;
}

.maxtemp-image{
    width: 700px;
    float: left;
}

.humidity-image{
    width: 700px;
    float: left;
}

.comparison{
    width: 500px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 30px 40px;
    color: black;
    background-color: white;
    style:'width: 100%'
}

.cloudiness-image{
    width: 700px;
    float: left;
}

.small-image {
    width: 150px;
}

.medium-image {
    width: 600px;
}
.navbar-links{
    float: right;
}

.navbar-brand {
    background-color: teal;
    padding: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.viz-info {
    background-color: white;
    padding: 16px;
    text-align: justify;
}

#content-container {
    margin-top: 32px;
    visibility: visible;
}

#data-table-container{
    margin-top: 32px;
    background-color:white;
}

#maxtemp-container{
    margin-top: 32px;
    background-color:white;
}
